* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    nav ul {
        gap: 10px !important;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        font-size: 0.7rem !important;
        padding: 5px;
    }

    h1 {
        font-size: 2.5rem !important;
    }
}